<script setup>
import Nav from "@/components/Nav.vue";
</script>

<template>
  <div id="layout">
    <Nav />

    <section class="mx-4 md:mx-20">
      <router-view></router-view>
    </section>
  </div>
</template>
