<script setup>
import { onMounted, reactive } from "vue";
import NightMarketService from "@/services/NightMarketService.js";

const nightMarketService = new NightMarketService();
const nightMarkets = reactive([]);

onMounted(() => {
  const nm = nightMarketService.load();
  if (nm) {
    nightMarkets.value = nm;
  }
});

function nightMarketRandom() {
  const nm = nightMarketService.getRandom();
  nightMarkets.value = nm;
  nightMarketService.save(nm);
}
</script>

<template>
  <div id="night-market">
    <h1 class="text-3xl tracking-tight font-extrabold text-gray-900 my-4">
      Marché de Nuit
    </h1>

    <div class="flex justify-end">
      <button
        class="
          bg-gray-700
          text-white
          hover:bg-gray-800 hover:text-red-500
          px-3
          py-2
          rounded-md
          text-sm
          font-medium
          text-right
        "
        v-on:click="nightMarketRandom"
      >
        Générer un marché de nuit aléatoire
      </button>
    </div>

    <article
      v-for="nightMarket of nightMarkets.value"
      v-bind:key="nightMarket.name"
    >
      <header>
        <h2
          class="
            text-2xl
            tracking-tight
            font-extrabold
            text-gray-900
            my-4
            border-b-2
          "
          v-html="nightMarket.name"
        ></h2>
      </header>

      <div class="my-4" v-html="nightMarket.description"></div>

      <ul class="border-red-500 border-2 my-4">
        <li
          class="py-1 px-2 text-justify"
          v-for="shelve of nightMarket.shelves"
          v-bind:key="shelve"
          v-html="shelve"
        ></li>
      </ul>
    </article>
  </div>
</template>

<style scoped>
li:nth-child(even) {
  @apply bg-red-200;
}
p {
  text-align: justify;
}
</style>
